snippet tkb "TKB card"
- title = $1
- date = $2
- author = bugnofree
- url =
- content
endsnippet

snippet v "ok symbol"
[✓] $0
endsnippet

snippet x "error symbol"
[✗] $0
endsnippet

snippet epoch
`!p
import time
snip.rv = int(time.time())
`
endsnippet
