snippet meta "Insert typst metadata" b
#import "n.typ"

#n.meta("`!p snip.rv = vim.eval('expand("%:t:r")')`", "`!p snip.rv = __import__('datetime').datetime.now().strftime('%Y-%m-%d %H:%M:%S')`")
endsnippet

